<template>
    <div class="col-md-12">
        <loading :active.sync="isLoading"></loading>
        <error-component :e="e" :message="message" :errors="errors" :alert="alert"></error-component>
        <div v-if="modal" class="modal" id="open-modal">
            <div class="modal-container">
                <p>Выберите новое фото</p>
                <input style="height:2.7rem; margin-bottom:2rem;" type="file" v-on:change="handleFileUpload()" ref="img" class="form-control">
                <a @click="update(banner_pos)" class="label bg-danger text-white f-12">Сохранить</a>
                <a @click="closeModal()" class="label theme-bg text-white f-12">Отменить</a>
            </div>
        </div>
        <div class="card Recent-Users">
            <div class="card-header">
                <button @click="getBanners()" class="btn btn-primary">Обновить данные</button>
            </div>
            <div class="card-block px-0 py-3">
                <div class="row">
                    <div v-for="(banner,index) in banners" :key="index" class="col-md-6 mt-4">
                        <div class="row pl-3">
                            <div class="col-md-6">
                                <label>Первая строчка</label>
                                <input type="text" class="form-control" v-model="banner.first_text">
                                <label>Вторая строчка</label>
                                <input type="text" class="form-control" v-model="banner.second_text">
                            </div>
                            <div style="height:50%" class="col-md-6 slider-img">
                                <img :src="'img/banners/' + (banner.img ? banner.img:'aaa.png')" alt="">
                            </div>
                            <div class="col-md-12 d-flex mt-4">
                                <button @click="saveText(banner)" class="btn btn-square btn-primary mr-1">Сохранить текст</button>
                                <button @click="showModal(banner)" class="btn btn-square btn-secondary mr-1">Изменить картинку</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex'
import Loading from 'vue-loading-overlay'
import 'vue-loading-overlay/dist/vue-loading.css'

export default {
    data(){
        return {
            banner_pos:null,
            banners:[],
            banner_img:'',
            modal:false,
            message:'',
            alert:null,
            errors:[],
            e:false,
            modal:false,
            isLoading:false,
        }
    },
    components:{Loading},
    created(){
        this.getBanners()
    },
    methods:{
        ...mapActions({
            banner_text_save: 'crm/banner_text_save',
            banner_img_update: 'crm/banner_img_update',
            get_banners: 'crm/get_banners'
        }),
        handleFileUpload(){
            this.banner_img = this.$refs.img.files[0]
        },
        showModal(banner){
            this.banner_pos = banner
            this.modal = true
        },
        closeModal(){
            this.banner_pos = null
            this.banner_img = ''
            this.modal = false
        },
        getBanners(){
            this.isLoading = true
            this.get_banners({
                context:this
            }).then(()=>{
                this.isLoading = false
                this.timer()
            })
        },
        saveText(banner){
            if (banner) {
                if(banner.first_text && banner.second_text){
                    this.isLoading = true
                    this.banner_text_save({
                        context:this,
                        payload:{f:banner.first_text, s:banner.second_text, pos:banner.position}
                    }).then(()=>{
                        this.isLoading = false
                        this.timer()
                    })
                }else{
                    this.alert = 'Заполните поля'
                    this.timer()
                }
            }
        },
        update(banner){
            if(banner){
                this.modal = false
                this.isLoading = true
                let data = new FormData()
                data.append('img', this.banner_img)
                data.append('pos', banner.position)
                this.banner_img_update({
                    context:this,
                    payload:data
                }).then(()=>{
                    this.isLoading = false
                    this.getBanners()
                    this.timer()
                })
            }
        },
        timer(){
            setTimeout(function () { this.message = null, this.e = false, this.alert = null }.bind(this), 7000)
        },
    }
}
</script>