<template>
    <div class="col-md-12">
        <loading :active.sync="isLoading"></loading>
        <error-component :e="e" :message="message" :errors="errors" :alert="alert"></error-component>
        <div class="card Recent-Users">
            <div class="card-header">
                <button @click="getPosition()" class="btn btn-primary">Обновить данные</button>
            </div>
            <div class="card-block px-0 py-3">
                <div class="row">
                    <div class="col-md-4">
                        <search-product @product="chooseProductId"></search-product>
                        <h5 v-if="product.name" class="pl-3">Товар : <p class="product-name">{{product.name}}</p></h5>
                        <div class="pl-3">
                            <h5>Выберите позицию</h5>
                            <select class="form-control" v-model="position">
                                <option value="1">Позиция 1</option>
                                <option value="2">Позиция 2</option>
                                <option value="3">Позиция 3</option>
                                <option value="4">Позиция 4</option>
                                <option value="5">Позиция 5</option>
                                <option value="6">Позиция 6</option>
                            </select>
                        </div>
                        <div class="col-md-3 pl-3 mt-4">
                            <button @click="save()" class="btn btn-square btn-success"><i class="feather icon-check"></i>Сохранить позицию</button>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div v-for="(pos, index) in positions" :key="index" class="col-md-4 position">
                                <p class="product-name">{{pos.product_name}}</p>
                                <p>Позиция : {{pos.position}}</p>
                                <img :src="'img/products/' + pos.product_img" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex'
import Loading from 'vue-loading-overlay'
import 'vue-loading-overlay/dist/vue-loading.css'

export default {
    data(){
        return {
            product:{id:null, name:null, published:null},
            position:null,
            positions:[],
            isLoading:false,
            message:null,
            e:null,
            errors:[],
            alert:null,
        }
    },
    components:{Loading},
    created(){
        this.getPosition()
    },
    methods:{
        ...mapActions({
            get_product_position:'crm/get_product_position',
            create_product_position:'crm/create_product_position',
        }),
        chooseProductId(id, name, published){
            this.product.id = id
            this.product.name = name
            this.product.published = published
        },
        getPosition(){
            this.isLoading = true
            this.get_product_position({
                context:this,
            }).then(()=>{
                this.timer()
                this.isLoading = false
            })
        },
        save(){
            if(!this.product.published){
                this.alert = 'Товар не опубликовань не получается сохранить, сначало опубликуйте товар'
                this.timer()
            }else if(this.product.id && this.position){
                this.isLoading = true
                this.create_product_position({
                    context:this,
                    payload:{product:this.product.id, position:this.position}
                }).then(()=>{
                    this.isLoading = false
                    this.getPosition()
                    this.timer()
                })
            }else{
                this.alert = 'Сначало выберите товар и позицию'
                this.timer()
            }
        },
        timer(){
            setTimeout(function () { this.message = null, this.e = false, this.alert = null }.bind(this), 7000)
        },
    }
}
</script>

<style lang="scss">
.position{
    img{
        width: 60%;
        height: 40%;
    }
}
</style>