<template>
    <div class="col-md-12">
        <loading :active.sync="isLoading"></loading>
        <error-component :e="e" :message="message" :errors="errors"></error-component>
        <div v-if="modal" class="modal" id="open-modal">
            <div class="modal-container">
                <p>{{slider ? 'Безвозвратное удаление пожалуйста подтвердите действие':'Выберите новое фото'}}</p>
                <input v-if="!slider" style="height:2.7rem; margin-bottom:2rem;" type="file" v-on:change="handleFileUpload()" ref="img" class="form-control">
                <a @click="slider ? destroy(slider):update(slider_id)" class="label bg-danger text-white f-12">{{slider ? 'Удалить':'Сохранить'}}</a>
                <a @click="closeModal()" class="label theme-bg text-white f-12">Отменить</a>
            </div>
        </div>
        <div class="card Recent-Users">
            <div class="card-header">
                <h5>Добавьте фото нового слайда, потом появятся опции</h5>
                <div style="background-color:#fff" class="col-md-5 input-group">
                    <input style="height:2.7rem" v-on:change="upload()" type="file" ref="file" class="form-control">
                    <div class="input-group-append">
                        <button @click="save()" class="btn btn-primary">Добавить</button>
                    </div>
                </div>
            </div>
            <div class="card-block px-0 py-3">
                <div class="row">
                    <div v-for="(slider,index) in sliders" :key="index" class="col-md-6 mt-4">
                        <div class="row pl-3">
                            <div class="col-md-6">
                                <label>Первая строчка</label>
                                <input type="text" class="form-control" v-model="slider.first_text">
                                <label>Вторая строчка</label>
                                <input type="text" class="form-control" v-model="slider.second_text">
                            </div>
                            <div style="height:50%" class="col-md-6 slider-img">
                                <img :src="'img/sliders/' + slider.img" alt="">
                            </div>
                            <div class="col-md-12 d-flex">
                                <button @click="saveText(slider)" class="btn btn-square btn-primary mr-1">Сохранить текст</button>
                                <button @click="showModal(slider.id)" class="btn btn-square btn-secondary mr-1">Изменить картинку</button>
                                <button @click="showModal(null,slider)" class="btn btn-square btn-success">Удалить слайд</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
import { mapActions } from 'vuex'
import Loading from 'vue-loading-overlay'
import 'vue-loading-overlay/dist/vue-loading.css'

export default {
    data(){
        return {
            img:'',
            slider_id:null,
            slider_img:'',
            slider:null,
            message:'',
            errors:[],
            e:false,
            modal:false,
            isLoading:false,
            sliders:[],
        }
    },
    components:{Loading},
    created(){
        this.getSliders()
    },
    methods:{
        ...mapActions({
            slider_img_create: 'crm/slider_img_create',
            slider_img_update: 'crm/slider_img_update',
            get_slider_pages: 'crm/get_slider_pages',
            slider_text_save: 'crm/slider_text_save',
            destroy_slider: 'crm/destroy_slider'
        }),
        upload(){
            this.img = this.$refs.file.files[0]
        },
        handleFileUpload(){
            this.slider_img = this.$refs.img.files[0]
        },
        showModal(id, slider=null){
            this.slider_id = id
            this.slider = slider
            this.modal = true
        },
        closeModal(){
            this.slider_id = null
            this.slider = null
            this.slider_img = ''
            this.modal = false
        },
        getSliders(){
            this.get_slider_pages({
                context:this
            }).then(()=>{
                
            })
        },
        save(){
            if (this.img) {
                this.isLoading = true
                let formData = new FormData()
                formData.append('img', this.img)
                this.slider_img_create({
                    context:this,
                    payload:formData
                }).then(()=>{
                    this.isLoading = false
                    this.getSliders()
                    this.timer()
                })
            }
        },
        update(id){
            if(this.slider_img){
                this.modal = false
                this.isLoading = true
                let data = new FormData()
                data.append('img', this.slider_img)
                data.append('id', id)
                this.slider_img_update({
                    context:this,
                    payload:data
                }).then(()=>{
                    this.isLoading = false
                    this.getSliders()
                    this.timer()
                })
            }
        },
        saveText(slider){
            if(slider.first_text && slider.second_text){
                this.isLoading = true
                this.slider_text_save({
                    context:this,
                    payload:slider
                }).then(()=>{
                    this.isLoading = false
                    this.timer()
                })
            }
        },
        destroy(slider){
            if(slider.id){
                this.modal = false
                this.isLoading = true
                this.destroy_slider({
                    context:this,
                    payload:slider
                }).then(()=>{
                    this.timer()
                    this.slider = null
                    this.isLoading = false
                    this.getSliders()
                })
            }
        },
        timer(){
            setTimeout(function () { this.message = null, this.e = false }.bind(this), 7000)
        },
    }
}
</script>

<style lang="scss">
.slider-img{
    img{
        width:30%;
        height: 50%;
    }
}
</style>