<template>
    <!--[ Recent Users ] start-->
    <div class="col-xl-12 col-md-12">
        <div v-if="message" class="alert alert-success" role="alert">
            {{message}}
        </div>
        <div v-if="e" class="alert alert-danger" role="alert">
            <ul>
                <li v-for="(error, index) in errors" :key="index">{{error}}</li>
            </ul>
        </div>
        <div v-if="modal" class="modal" id="open-modal">
            <div class="modal-container">
                <p>Безвозвратное удаление! Пожалуйста подтвердите действие</p>
                <a @click="destroy(tem_id)" class="col-md-12 label bg-danger text-white f-12">Удалить</a>
                <a @click="closeModal()" class="label theme-bg text-white f-12">Отменить</a>
            </div>
        </div>
        <p v-if="template.id">Включен режим изменения, для того чтобы отменить нажмите сюда
                <button @click="cancel()" class="btn btn-success">Отменить</button>
            </p>
        <div class="input-group add-category">
            <input v-model="template.name" type="text" class="form-control" placeholder="Введите название шаблона деталей">
            <div class="input-group-append">
                <button @click="save()" :class="{'btn-warning':template.id, 'btn-primary':!template.id}" class="btn" type="button">{{template.id ? "Изменить": "Создать"}}</button>
            </div>
        </div>
        <div class="card Recent-Users">
            <div class="card-header">
                <h5><button @click="submit()" class="btn btn-primary">Показать все шаблоны</button></h5>
                <loading :active.sync="isLoading"></loading>
            </div>
            <div class="card-block px-0 py-3">
                <div class="table-responsive">
                    <table class="table table-wrapper">
                        <thead>
                            <tr>
                            <th scope="col">Номер</th>
                            <th scope="col">Название шаблона деталей</th>
                            <th scope="col">Действие</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(tem, index) in templates" :key="index" class="unread">
                                <td>{{index+1}}</td>
                                <td>
                                    <h6 class="mb-1">{{tem.name}}</h6>
                                </td>
                                <td>
                                    <a @click="showModal(tem.id)" class="col-md-12 label bg-danger text-white f-12">Удалить</a>
                                    <a @click="update(tem.id, tem.name)" class="label theme-bg text-white f-12">Изменить</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--[ Recent Users ] end-->
</template>




<script>
    import { mapActions } from 'vuex'
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';

    export default {
        data () {
            return {
                template:{name:null, id:null},
                templates: [],
                errors: [],
                isLoading: false,
                message: null,
                modal:false,
                tem_id: null,
                e:false
            }
        },
        components: {Loading},
        created(){this.submit()},
        methods: {
            ...mapActions({
                get_templates: 'crm/templates',
                destroy_template: 'crm/destroy_template',
                create_template: 'crm/create_template',
                update_template: 'crm/update_template',
            }),
            submit () {
                this.isLoading = true;
                this.get_templates({
                    context: this
                }).then(() => {
                    this.isLoading = false;
                })
            },
            showModal(id){
                this.modal = true
                this.tem_id = id
            },
            closeModal(){
                this.modal = false
                this.tem_id = null
            },
            destroy(id){
                this.modal = false
                this.isLoading = true;
                this.destroy_template({
                    context: this,
                    payload:{id:id}
                }).then(() => {
                    this.isLoading = false;
                    this.submit()
                    setTimeout(function () { this.message = null }.bind(this), 9000)
                })
            },
            update(id, name){
                this.template.name = name
                this.template.id = id
            },
            save(){
                this.isLoading = true
                if(this.template.id){
                    this.update_template({
                        context: this,
                        payload: {name: this.template.name, id: this.template.id}
                    }).then(() => {
                        this.timer()
                        this.submit()
                        this.isLoading = false;
                        this.template.name = null
                        this.template.id = null
                    })
                }else{
                    this.create_template({
                        context: this,
                        payload: {name: this.template.name}
                    }).then(() => {
                        this.timer()
                        this.submit()
                        this.template.name = null
                        this.isLoading = false
                    })
                }
            },
            cancel(){
                this.template.id = null
                this.template.name = null
            },
            timer(){
                setTimeout(function () { this.message = null, this.e = false }.bind(this), 7000)
            },
        }
    }
</script>


<style lang="scss">
a{
    cursor: pointer;
}
p {
    margin-top: 0px;
}
 
.modal-container {
    position: fixed;
    background-color: #fff;
    border: 1px solid #000;
    width: 40%;
    left: 50%;
    padding: 20px;
    border-radius: 5px;
    top: 20%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.modal-container p{
    font-size: 25px;
}
.modal-container a{
    font-size: 16px;
    border-radius: 9px;
}
.modal {
    position: fixed;
    display: block;
    background-color: rgba(0,0,0,.8);
    top: 0;
    left: 0;
    height: 100%;
    width: 100% 
}
.add-category{
    margin-bottom: 3rem;
    input{
        height: 3rem;
    }
}
</style>