<template>
    <div class="col-md-12">
        <loading :active.sync="isLoading"></loading>
        <error-component :e="e" :message="message" :errors="errors" :alert="alert"></error-component>
        <div class="col-md-12 pl-3">
            <div class="col-md-6 pr-3 p-0">
                <h5 class="mb-3">Выберите категорию</h5>
                <select class="form-control" v-model="category">
                    <option v-for="(item, index) in items" :key="index" :value="item.id">{{item.name}}</option>
                </select>
            </div>
            <div class="col-md-6 pr-3 mt-3 p-0">
                <h5 class="mb-3">Выберите подкатегорию</h5>
                <select class="form-control" v-model="sub_cat">
                    <option v-for="(sub, index) in sub_categories" :key="index" :value="sub.id">{{sub.name}}</option>
                </select>
            </div>
            <div class="col-md-12 input-group add-product mt-4 p-0">
                <input v-model="name" type="text" class="form-control" placeholder="Введите название товара">
            </div>
            <div class="col-md-12 form-group mt-4 p-0">
                <h5>Введите коротко описание товара</h5>
                <textarea v-model="description" class="form-control mt-3"></textarea>
            </div>
            <div class="row">
                <div class="col-md-6 mt-5 add-product" style="padding-top:2px;">
                    <h5 class="mb-3">Выберите главное фото товара</h5><br>
                    <input v-on:change="handleFileUpload(0)" type="file" ref="file" class="form-control">
                    <img id="prod-img" v-if="product_arr.img1 && !img1" :src="'img/products/'+ product_arr.img1" alt="">
                </div>
                <div class="col-md-6 mt-5 add-product" style="padding-top:2px;">
                    <h5 class="mb-3">Выберите фото товара при наведении</h5>
                    <input v-on:change="handleFileUpload(1)" type="file" ref="file1" class="form-control">
                    <img id="prod-img" v-if="product_arr.img2 && !img2" :src="'img/products/'+ product_arr.img2" alt="">
                </div>
            </div>
            <div class="row mt-4 add-product">
                <div class="col-md-6">
                    <input v-model="price" type="number" class="form-control" placeholder="Введите цену товара">
                </div>
                <div class="col-md-6">
                    <input v-model="old_price" type="number" class="form-control" placeholder="Введите старую цену товара">
                </div>
            </div>
            <div class="col-md-3 p-0 mt-4">
                <button @click="product_arr.id ? update():save()" class="btn btn-square btn-success"><i class="feather icon-check"></i>Сохранить</button>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex'
import Loading from 'vue-loading-overlay'
import 'vue-loading-overlay/dist/vue-loading.css'

export default {
    data(){
        return {
            product_arr:[],
            category:null,
            items:[],
            sub_cat:null,
            sub_categories:[],
            name:null,
            description:null,
            img1:'',
            img2:'',
            price:null,
            old_price:null,
            e:null,
            message:null,
            errors:[],
            isLoading: false,
            alert:null,
        }
    },
    components:{Loading},
    created(){
        if(Number(this.$route.params.id) > 0){
            this.id = Number(this.$route.params.id)
            this.getProduct(Number(this.$route.params.id))
        }
        this.getCategories()
    },
    methods:{
        ...mapActions({
            get_categories: 'crm/categories',
            get_sub_categories: 'crm/sub_categories',
            product_general_option_create: 'crm/product_general_option_create',
            product_general_option_update:'crm/product_general_option_update',
            get_product:'crm/get_product',
        }),
        getCategories(){
            this.get_categories({
                context:this
            })
        },
        getSubCategories(){
            if(this.category){
                this.get_sub_categories({
                    context:this,
                    payload:{cat:this.category}
                })
            }
        },
        handleFileUpload(i){
            if(i == 0){
                this.img1 = this.$refs.file.files[0]
            }else{
                this.img2 = this.$refs.file1.files[0]
            }
        },
        getProduct(id){
            this.isLoading = true
            this.get_product({
                context:this,
                payload:{product:id}
            }).then(()=>{
                this.isLoading = false
                this.category = this.product_arr.categories_id
                this.sub_cat = this.product_arr.sub_categories_id
                this.name = this.product_arr.name
                this.description = this.product_arr.description
                this.price = this.product_arr.price
                this.old_price = this.product_arr.old_price
            })
        },
        save(){
            this.isLoading = true
            let formData = new FormData()
            formData.append('name', this.name)
            formData.append('categories_id', this.category)
            formData.append('sub_categories_id', this.sub_cat)
            formData.append('description', this.description)
            formData.append('img1', this.img1)
            formData.append('img2', this.img2)
            formData.append('price',this.price)
            formData.append('old_price', this.old_price)
            this.product_general_option_create({
                context:this,
                payload:formData
            }).then(()=>{
                this.isLoading = false
                this.timer()
            })
        },
        update(){
            let data = new FormData()
            data.append('name', this.name)
            data.append('categories_id', this.category)
            data.append('sub_categories_id', this.sub_cat)
            data.append('description', this.description)
            data.append('img1', this.img1)
            data.append('img2', this.img2)
            data.append('price',this.price)
            data.append('old_price', this.old_price)
            data.append('product', this.product_arr.id)
            if(this.product_arr.id){
                this.isLoading = true
                this.product_general_option_update({
                    context:this,
                    payload:data
                }).then(()=>{
                    this.isLoading = false
                    this.img1 = null
                    this.img2 = null
                    this.getProduct(Number(this.$route.params.id))
                    setTimeout(function () {
                        this.message = null
                        this.e = false
                    }.bind(this), 7000)
                })
            }
        },
        timer(){
            setTimeout(function () { 
                this.message = null
                this.e = false
                this.name = null
                this.category = null
                this.sub_cat = null
                this.description = null
                this.img1 = ''
                this.img2 = ''
                this.price = null
                this.old_price = null
            }.bind(this), 7000)
        },
    },
    watch:{
        'category'(){
            this.getSubCategories()
        },
        '$route'(){
            if(!Number(this.$route.params.id)){
                this.name = null
                this.category = null
                this.sub_cat = null
                this.description = null
                this.img1 = ''
                this.img2 = ''
                this.price = null
                this.old_price = null
                this.product_arr.id = null
                this.product_arr.img1 = null
                this.product_arr.img2 = null
            }else{
                this.id = Number(this.$route.params.id)
                this.getProduct(Number(this.$route.params.id))
            }
        }
    }
}
</script>

<style lang="scss">
    .add-product{
        input{
            height: 2.7rem;
        }
    }
    #prod-img{
        width: 30%;
        height: 30%;
    }
</style>