<template>
    <div class="col-md-12">
        <div class="col-sm-12">
            <h5 v-if="!$route.params.id" class="mt-4">Для начало добавьте название товара</h5>
            <h5 v-else class="mt-4">Включен режим изменения</h5>
            <hr>
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <ul v-if="!$route.params.id" class="nav flex-column nav-pills">
                        <li>
                            <router-link :class="{'active': route == 'general_option'}" class="nav-link text-left" :to="{name: 'general_option'}">
                                        <span class="pcoded-mtext">Добавить название и описание товара</span>
                            </router-link>
                        </li>
                        <li>
                            <router-link :class="{'active': route == 'product_detail'}" class="nav-link text-left" :to="{name: 'product_detail'}">
                                        <span class="pcoded-mtext">Добавить характеристики товара</span>
                            </router-link>
                        </li>
                        <li>
                            <router-link :class="{'active': route == 'product_images'}" class="nav-link text-left" :to="{name: 'product_images'}">
                                        <span class="pcoded-mtext">Добавить картинки товара</span>
                            </router-link>
                        </li>
                        <li>
                            <router-link :class="{'active': route == 'product_options'}" class="nav-link text-left" :to="{name: 'product_options'}">
                                        <span class="pcoded-mtext">Добавить опции товара<br></span>
                            </router-link>
                        </li>
                        <li>
                            <router-link :class="{'active': route == 'publish_product'}" class="nav-link text-left" :to="{name: 'publish_product'}">
                                        <span class="pcoded-mtext">Опубликовать товар<br></span>
                            </router-link>
                        </li>
                    </ul>
                    <ul v-else class="nav flex-column nav-pills">
                        <li>
                            <router-link :class="{'active': route == 'general_option_update'}" class="nav-link text-left" :to="{name: 'general_option_update', params:{id:$route.params.id}}">
                                <span class="pcoded-mtext">Изменить название и главные опции</span>
                            </router-link>
                        </li>
                        <li>
                            <router-link :class="{'active': route == 'product_detail_update'}" class="nav-link text-left" :to="{name: 'product_detail_update', params:{id:$route.params.id}}">
                                <span class="pcoded-mtext">Изменить характеристики товара</span>
                            </router-link>
                        </li>
                        <li>
                            <router-link :class="{'active': route == 'product_images_update'}" class="nav-link text-left" :to="{name: 'product_images_update', params:{id:$route.params.id}}">
                                <span class="pcoded-mtext">Изменить картинки товара</span>
                            </router-link>
                        </li>
                        <li>
                            <router-link :class="{'active': route == 'product_options_update'}" class="nav-link text-left" :to="{name: 'product_options_update', params:{id:$route.params.id}}">
                                <span class="pcoded-mtext">Изменить опции товара</span>
                            </router-link>
                        </li>
                    </ul>
                </div>
                <div class="col-md-9 col-sm-12">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active">
                            <router-view name="product"></router-view>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            route:null,
        }
    },
    created(){
        this.route = this.$route.name
    },
    watch:{
        '$route'(){
            this.route = this.$route.name
        }
    }
}
</script>