<template>
    <div class="col-md-12">
        <div class="row product">
            <div class="col-md-8 product-div">
                <div class="row">
                    <div style="padding:0" class="col-md-6 pr-3">
                        <h5 class="mb-3">Выберите категорию</h5>
                        <select class="form-control" v-model="cat">
                            <option v-for="(item, index) in items" :key="index" :value="item.id">{{item.name}}</option>
                        </select>
                    </div>
                    <div style="padding:0" class="col-md-6">
                        <h5 class="mb-3">Выберите подкатегорию</h5>
                        <select class="form-control" v-model="sub_cat">
                            <option v-for="(sub, index) in sub_categories" :key="index" :value="sub.id">{{sub.name}}</option>
                        </select>
                    </div>
                    <div style="padding:0" class="col-md-12 input-group add-product mt-4">
                        <input v-model="name" type="text" class="form-control" placeholder="Введите название товара">
                    </div>
                    <div class="col-md-6 pt-5 pr-3">
                        <input v-model="price" type="number" class="form-control" placeholder="Введите цену товара">
                    </div>
                    <div class="col-md-6 mt-2" style="padding-top:2px;">
                        <h5 class="mb-3">Выберите фото товара</h5>
                        <input v-on:change="handleFileUpload()" type="file" ref="file" class="form-control">
                    </div>
                    <div class="col-md-12 form-group mt-4">
                        <h5>Введите коротко описание товара</h5>
                        <textarea v-model="description" class="form-control mt-3"></textarea>
                    </div>
                    <h5 class="mt-3">Добавьте детали товара или выберите шаблон деталей для быстрого заполнения</h5>
                    <div class="col-md-12 mt-3">
                        <div class="row pl-3">
                            <div class="col-md-3">
                                <h5 class="mb-3">Выбрать шаблон</h5>
                                <select id="select" class="form-control" v-model="template">
                                    <option v-for="(tem, index) in templates" :key="index" :value="tem.id">{{tem.name}}</option>
                                </select>
                            </div>
                            <div style="padding-top:2.3rem" class="col-md-9 details-area d-flex">
                                <div class="key">
                                    <input v-model="detail.key" type="text" class="form-control" placeholder="Введите название детали">
                                </div>
                                <div class="value">
                                    <input v-model="detail.value" type="text" class="form-control" placeholder="Введите значение детали">
                                </div>
                                <div class="submit">
                                    <button @click="addDetail()" :class="{'btn-warning':detail.id, 'btn-primary':!detail.id}" class="btn" type="button">{{detail.id ? "Изменить": "Добавить"}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div v-for="(d, index) in detailes" :key="index" class="d-flex">
                            <p class="detail-key">{{d.key}}</p>
                            <input v-model="d.value" type="text" class="form-control">
                            <i id="remove-detail" @click="removeDetail(index)" class="feather icon-trash-2"></i>
                        </div>
                    </div>
                    <div class="col-md-6 mt-5" style="padding-top:2px;">
                        <h5 class="mb-3">Выберите фото товара</h5>
                        <input v-on:change="handleFileUpload()" type="file" ref="file" class="form-control">
                    </div>
                    <div class="col-md-6 mt-5" style="padding-top:2px;">
                        <h5 class="mb-3">Выберите фото товара</h5>
                        <input v-on:change="handleFileUpload()" type="file" ref="file" class="form-control">
                    </div>
                    <div class="col-md-12 mt-5">
                        <h5>Добавьте фото товара разного цвета</h5>
                        <div class="input-group add-category">
                            <input v-model="color" type="text" class="form-control" placeholder="Введите цвет товара">
                            <div class="input-group-append">
                                <button @click="save()" class="btn btn-info">Добавить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <button @click="save()" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
</template>

<script>
import {mapActions} from 'vuex'
export default {
    data(){
        return{
            detail:{id:null, key:null, value:null},
            detailes:[],
            template:null,
            templates:[],
            color:null,
            cat:null,
            sub_cat:null,
            name:null,
            price:null,
            img:'',
            description:null,
            items:[],
            sub_categories:[],
        }
    },
    created(){
        this.getItems()
    },
    methods:{
        ...mapActions({
            get_sub_categories: 'crm/sub_categories',
            get_categories: 'crm/categories',
            get_templates: 'crm/templates',
            get_detailes: 'crm/detailes',
        }),
        getItems(){
            this.get_categories({
                context:this
            })
            this.get_sub_categories({
                context:this
            })
            this.get_templates({
                context:this
            })
        },
        addDetail(){
            if(this.detail.key && this.detail.value){
                this.detailes.push(this.detail)
            }
        },
        removeDetail(index){
            this.detailes.splice(index, 1)
        },
        getDetailes(){
            this.get_detailes({
                context:this,
                payload:{template:this.template}
            })
        },
        handleFileUpload(){
            this.img = this.$refs.file.files[0];
        },
        save(){
            console.log(this.detailes)
        },
    },
    watch:{
        'template'(){
            this.getDetailes()
        }
    },
}
</script>

<style lang="scss">

.product-div{
    border-right: 1px solid #E4E8ED;
    padding-right: 22px;
    div{
        padding: 0;
    }
}
.product input{
    height: 3rem;
}
.details-area{
    button{
        height: 3rem;
        width: 86%;
    }
}
.detail-key{
    width: 38%;
    text-align: center;
    padding-top: 1rem;
}
#remove-detail{
    font-size: 1.25em;
    padding-top: 2%;
    margin-left: 1rem;
}
#select{
        height: 3rem;
    }
</style>