<template>
    <div class="col-md-12">
        <div v-if="message" class="alert alert-success" role="alert">
            {{message}}
        </div>
        <div v-if="e" class="alert alert-danger" role="alert">
            <ul>
                <li v-for="(error, index) in errors" :key="index">{{error}}</li>
            </ul>
        </div>
        <div v-if="modal" class="modal" id="open-modal">
            <div class="modal-container">
                <p>Безвозвратное удаление! Пожалуйста подтвердите действие</p>
                <a @click="destroy(det_id)" class="col-md-12 label bg-danger text-white f-12">Удалить</a>
                <a @click="closeModal()" class="label theme-bg text-white f-12">Отменить</a>
            </div>
        </div>
        <div style="padding:0" class="col-md-5 pr-3">
            <h5 class="mb-3">Выберите шаблон детали</h5>
            <select class="form-control" v-model="template">
                <option v-for="(tem, index) in templates" :key="index" :value="tem.id">{{tem.name}}</option>
            </select>
        </div>
        <loading :active.sync="isLoading"></loading>
        <p v-if="detail.id">Включен режим изменения, для того чтобы отменить нажмите сюда
            <button @click="cancel()" class="btn btn-outline-success">Отменить</button>
        </p>
        <div class="detail d-flex mt-4">
            <div class="key">
                <input v-model="detail.key" type="text" class="form-control" placeholder="Введите название детали">
            </div>
            <div class="value">
                <input v-model="detail.value" type="text" class="form-control" placeholder="Введите значение детали">
            </div>
            <div class="submit">
                <button @click="save()" :class="{'btn-warning':detail.id, 'btn-primary':!detail.id}" class="btn" type="button">{{detail.id ? "Изменить": "Добавить"}}</button>
            </div>
        </div>
        <div class="card Recent-Users mt-5">
            <div class="card-block px-0 py-3">
                <div class="table-responsive mt-5">
                    <table class="table table-wrapper">
                        <thead>
                            <tr>
                            <th scope="col">Номер</th>
                            <th scope="col">Название детали</th>
                            <th scope="col">Значение детали</th>
                            <th scope="col">Действие</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(det, index) in detailes" :key="index" class="unread">
                                <td>{{index+1}}</td>
                                <td>
                                    <h6 class="mb-1">{{det.key}}</h6>
                                </td>
                                <td>
                                    <h6 class="mb-1">{{det.value}}</h6>
                                </td>
                                <td>
                                    <a @click="showModal(det.id)" class="col-md-12 label bg-danger text-white f-12">Удалить</a>
                                    <a @click="update(det.id, det.key, det.value)" class="label theme-bg text-white f-12">Изменить</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapActions} from 'vuex'
import Loading from 'vue-loading-overlay'
import 'vue-loading-overlay/dist/vue-loading.css'

export default {
    data(){
        return{
            items:[],
            template:null,
            templates:[],
            isLoading:false,
            message:null,
            e:false,
            modal:false,
            errors:[],
            detailes:[],
            detail:{id:null,key:null,value:null},
            det_id:null,
        }
    },
    created(){
        this.getItems()
    },
    components: {Loading},
    methods:{
        ...mapActions({
            get_templates: 'crm/templates',
            create_detail: 'crm/create_detail',
            destroy_detail: 'crm/destroy_detail',
            update_detail: 'crm/update_detail',
            get_detailes: 'crm/detailes'
        }),
        getItems(){
            this.get_templates({
                context:this
            })
        },
        getDetailes(){
            this.get_detailes({
                context:this,
                payload:{template:this.template}
            })
        },
        showModal(id){
            this.modal = true
            this.det_id = id
        },
        closeModal(){
            this.modal = false
            this.det_id = null
        },
        update(id, key, value){
            this.detail.id = id
            this.detail.key = key
            this.detail.value = value
        },
        cancel(){
            this.detail.id = null
            this.detail.key = null
            this.detail.value = null
        },
        save(){
            if(this.detail.id){
                this.isLoading = true
                this.update_detail({
                    context: this,
                    payload: {id:this.detail.id, key: this.detail.key, value: this.detail.value, template:this.template}
                }).then(() => {
                    this.timer()
                    this.getDetailes()
                    this.isLoading = false;
                    this.detail.key = null
                    this.detail.value = null
                    this.detail.id = null
                })
            }else{
                if(this.template > 0){
                    this.isLoading = true
                    this.create_detail({
                        context:this,
                        payload:{template:this.template, key:this.detail.key, value:this.detail.value}
                    }).then(()=>{
                        this.isLoading = false
                        this.detail.key = null
                        this.detail.value = null
                        this.timer()
                        this.getDetailes()
                    })
                }
            }
        },
        destroy(id){
            this.modal = false
            this.isLoading = true;
            this.destroy_detail({
                context: this,
                payload:{id:id}
            }).then(() => {
                this.isLoading = false;
                this.getDetailes()
                this.timer()
            })
        },
        timer(){
            setTimeout(function () { this.message = null, this.e = false }.bind(this), 7000)
        },
    },
    watch:{
        'template' (){
            this.detail.key = null
            this.detail.value = null
            this.detail.id = null
            this.getDetailes()
        }
    }
}
</script>

<style lang="scss">
.detail{
    .key{
        width:40%;
    }
    .value{
        width: 40%;
    }
    .submit{
        width: 20%;
        button{
            height: 3rem;
        }
    }
    input{
        height: 3rem;
        border-radius: none;
    }
}
.table-responsive{
    width: 90%;
}

</style>