<template>
    <div class="col-xl-12">
        <error-component :e="e" :message="message" :errors="errors" :alert="alert"></error-component>
        <loading :active.sync="isLoading"></loading>
        <div v-if="modal" class="modal" id="open-modal">
            <div class="modal-container">
                <p>Безвозвратное удаление! Пожалуйста подтвердите действие</p>
                <a @click="destroyProduct(product_id)" class="col-md-12 label bg-danger text-white f-12">Удалить</a>
                <a @click="closeModal()" class="label theme-bg text-white f-12">Отменить</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header row">
                <div class="col-md-8 d-flex">
                    <span @click="published = 0" :class="{'btn-square btn-light':!published}" class="btn span pr-1">Все товары</span>
                    <span style="font-size:1.5rem" class="pt-1">/</span>
                    <span @click="published = 1" :class="{'btn-square btn-light':published}" class="btn span">Опубликованные товары</span>
                </div>
                <div class="col-md-4 d-flex p-2">
                    <span class="span mr-3 pt-1">Поиск</span>
                    <input v-model="search" type="text" class="form-control">
                </div>
                <!-- <span class="d-block m-t-5">use class <code>table-hover</code> inside table element</span> -->
            </div>
            <div v-if="products.length == 0">
                <h5>Товары не найдены</h5>
            </div>
            <div v-if="products.length" class="card-block table-border-style">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>N</th>
                            <th>Название</th>
                            <th>Фото</th>
                            <th>Из категории</th>
                            <th>Из подкатегории</th>
                            <th>Цена</th>
                            <th>Действие</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(product, index) in products" :key="index">
                            <th scope="row">{{index+1}}</th>
                            <td>{{product.name}}</td>
                            <td><img :src="'img/products/'+product.img" alt=""></td>
                            <td>{{product.category}}</td>
                            <td>{{product.sub_category}}</td>
                            <td>{{product.price}}</td>
                            <td>
                                <div class="btn-group mb-2 mr-2">
                                    <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Изменить данные товара</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" @click="showModal(product.id)">Удалить товар</a>
                                        <router-link class="dropdown-item" :to="{name: 'general_option_update', params:{id:product.id}}">
                                            <span class="pcoded-mtext">Изменить название</span>
                                        </router-link>
                                        <router-link class="dropdown-item" :to="{name: 'product_detail_update', params:{id:product.id}}">
                                            <span class="pcoded-mtext">Изменить характеристики</span>
                                        </router-link>
                                        <router-link class="dropdown-item" :to="{name: 'product_images_update', params:{id:product.id}}">
                                            <span class="pcoded-mtext">Изменить картинки</span>
                                        </router-link>
                                        <router-link class="dropdown-item" :to="{name: 'product_options_update', params:{id:product.id}}">
                                            <span class="pcoded-mtext">Изменить опции</span>
                                        </router-link>
                                        <a v-if="!product.published" class="dropdown-item" @click="publish(product.id)">
                                            Опубликовать
                                        </a>
                                        <a v-if="product.published" class="dropdown-item" @click="unpublish(product.id)">
                                            Изять из публикации
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div v-if="pagination.last_page > 1" class="row justify-content-center">
                <nav aria-label="Page navigation example" class="pag">
                    <ul class="pagination">
                        <li class="page-item" :class="{'disabled':!pagination.prev_page_url}">
                            <a class="page-link" @click="getProducts(pagination.current_page-1)" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item" 
                            v-for="(page, index) in total"
                            :key="index"
                            :class="{'active':pagination.current_page===page}">
                            <a class="page-link" @click="getProducts(page)">{{page}}</a>
                        </li>
                        <li class="page-item" :class="{'disabled':!pagination.next_page_url}">
                            <a class="page-link" @click="getProducts(pagination.current_page+1)" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex'
import Loading from 'vue-loading-overlay'
import 'vue-loading-overlay/dist/vue-loading.css'

export default {
     data(){
         return {
             isLoading:false,
             product_id:null,
             modal:false,
             products:[],
             pagination:[],
             total:0,
             search:'',
             alert:null,
             message:null,
             published:0,
             e:false,
             errors:[],
         }
     },
     components:{Loading},
     created(){
         this.getProducts()
     },
     methods:{
         ...mapActions({
             all_products:'crm/all_products',
             destroy_product:'crm/destroy_product',
             unpublish_product:'crm/unpublish_product',
             search_product: 'crm/search_product',
             publish_product: 'crm/publish_product'
         }),
        getProducts(page){
            this.isLoading = true
            this.all_products({
                context:this,
                payload:{page:page, published:this.published}
            }).then(()=>{
                this.isLoading = false
                this.total = this.pagination.last_page == 1 ? this.pagination.per_page:this.pagination.last_page
            })
        },
        searchProduct(){
            if(this.search){
                this.isLoading = true
                this.search_product({
                    context:this,
                    payload:{name:this.search}
                }).then(()=>{
                    this.isLoading = false
                })
            }
        },
        publish(id){
            if(id){
                this.isLoading = true
                this.publish_product({
                    context:this,
                    payload:{product:id}
                }).then(()=>{
                    this.isLoading = false
                    this.getProducts(this.pagination.current_page)
                    this.timer()
                })
            }
        },
        showModal(id){
            this.modal = true
            this.product_id = id
        },
        closeModal(){
            this.modal = false
            this.product_id = null
        },
        destroyProduct(id){
            this.modal = false
            this.isLoading = true
            this.destroy_product({
                context:this,
                payload:{product:id}
            }).then(()=>{
                this.isLoading = false
                this.product_id = null
                this.getProducts(1)
                this.timer()
            })
        },
        unpublish(id){
            if(id){
                this.isLoading = true
                this.unpublish_product({
                    context:this,
                    payload:{product:id}
                }).then(()=>{
                    this.isLoading = false
                    this.getProducts(this.pagination.current_page)
                    this.timer()
                })
            }
        },
        timer(){
            setTimeout(function () { this.message = null, this.e = false , this.alert = null}.bind(this), 7000)
        },
     },
     watch:{
        'search'(){
            if(this.search){
                this.searchProduct()
            }else{
                this.getProducts(this.pagination.current_page)
            }
        },
        'published'(){
            this.getProducts(this.pagination.current_page)
        }
    },
}
</script>

<style lang="scss">
    td{
        width: 10rem;
        height: 8rem;
        img{
            width: 43%;
            height: 31%;
        }
    }
    .span{
        font-size: 1rem;
        cursor: pointer;
    }
</style>