<template>
    <div class="col-md-12">
        <error-component :e="e" :message="message" :errors="errors" :alert="alert"></error-component>
        <loading :active.sync="isLoading"></loading>
        <div class="row pl-3">
            <search-product v-if="!product_arr.id" @product="chooseProductId"></search-product>
            <hr>
            <div class="col-md-12">
                <h4 class="pt-2">Выберите опции товара <strong class="product-name">{{product.name}}</strong></h4>
            </div>
            <div class="col-md-6">
                <h5 class="mb-2">Распродажа</h5>
                <select id="select" class="form-control" v-model="options.onsale">
                    <option value="1">Да</option>
                    <option value="0">Нет</option>
                </select>
            </div>
            <div class="col-md-6 add-product">
                <h5 class="mb-2">Введите скидку в процентах</h5>
                <input v-model="options.discount" type="number" class="form-control">
            </div>
            <div class="col-md-6 mt-4">
                <h5 class="mb-2">В наличии</h5>
                <select id="select" class="form-control" v-model="options.available">
                    <option value="1">Да</option>
                    <option value="0">Нет</option>
                </select>
            </div>
            <div class="col-md-6 mt-4">
                <h5 class="mb-2">Скоро в продаже</h5>
                <select id="select" class="form-control" v-model="options.feature">
                    <option value="1">Да</option>
                    <option value="0">Нет</option>
                </select>
            </div>
            <div class="col-md-6 mt-4">
                <h5 class="mb-2">Топ продаж</h5>
                <select id="select" class="form-control" v-model="options.bestseller">
                    <option value="1">Да</option>
                    <option value="0">Нет</option>
                </select>
            </div>
            <div class="col-md-6 mt-4">
                <h5 class="mb-2">Новый товар</h5>
                <select id="select" class="form-control" v-model="options.new">
                    <option value="1">Да</option>
                    <option value="0">Нет</option>
                </select>
            </div>
            <div class="col-md-3 mt-4">
                <button @click="product_arr.id ? update():save()" class="btn btn-square btn-success"><i class="feather icon-check"></i>Сохранить</button>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex'
import Loading from 'vue-loading-overlay'
import 'vue-loading-overlay/dist/vue-loading.css'

export default {
    data(){
        return {
            product_arr:[],
            message:null,
            e:false,
            errors:[],
            isLoading:false,
            product:{id:null,name:''},
            options:{onsale:0,discount:0,available:0,feature:0,bestseller:0,new:0},
            alert:null,
        }
    },
    components:{Loading},
    created(){
        if(Number(this.$route.params.id) > 0){
            this.getProduct(Number(this.$route.params.id))
        }
    },
    methods:{
        ...mapActions({
            product_option_create: 'crm/product_option_create',
            product_option_update: 'crm/product_option_update',
            get_product:'crm/get_product',
        }),
        chooseProductId(id, name){
            this.product.id = id
            this.product.name = name
        },
        getProduct(id){
            this.isLoading = true
            this.get_product({
                context:this,
                payload:{product:id}
            }).then(()=>{
                this.isLoading = false
                this.product.id = this.product_arr.id
                this.product.name = this.product_arr.name
                if(this.product_arr.options){
                    this.options = this.product_arr.options
                }
            })
        },
        update(){
            if(this.product.id){
                this.isLoading = true
                this.options.product = this.product.id
                this.product_option_update({
                    context:this,
                    payload:this.options
                }).then(()=>{
                    this.isLoading = false
                    this.getProduct(Number(this.$route.params.id))
                    this.timer()
                })
            }
        },
        save(){
            if(this.product.id){
                this.isLoading = true
                this.options.product = this.product.id
                this.product_option_create({
                    context:this,
                    payload:this.options
                }).then(()=>{
                    this.isLoading = false
                    let op = this.options
                    op.onsale = op.bestseller = op.feature = op.new = op.available = op.discount = 0
                    this.timer()
                })
            }else{
                this.alert = "сначало найдите товар и выберите"
                this.timer()
            }
        },
        timer(){
            setTimeout(function () { 
                this.message = null,
                this.e = false
                this.alert = null
            }.bind(this), 7000)
        },
    },
    watch:{
        '$route'(){
            if(!Number(this.$route.params.id)){
                let op = this.options
                op.onsale = op.bestseller = op.feature = op.new = op.available = op.discount = 0
                this.product_arr.id = null
                this.product.id = this.product.name = null
            }else{
                this.id = Number(this.$route.params.id)
                this.getProduct(Number(this.$route.params.id))
            }
        }
    },
}
</script>

<style lang="scss">
    .alert{
        position: fixed;
        right: 3%;
        bottom: 3%;
        z-index: 999;
        width: 15rem;
        border-radius: 12px;
    }
</style>