<template>
    <div class="col-md-12">
        <error-component :e="e" :message="message" :errors="errors"></error-component>
        <loading :active.sync="isLoading"></loading>
        <div v-if="route && modal" class="modal" id="open-modal">
            <div class="modal-container">
                <p>Выберите новое фото</p>
                <input style="height:2.7rem; margin-bottom:2rem;" type="file" v-on:change="handleFileUpload()" ref="file" class="form-control">
                <a @click="updateImg(img_id)" class="label bg-danger text-white f-12">Сохранить</a>
                <a @click="closeModal()" class="label theme-bg text-white f-12">Отменить</a>
            </div>
        </div>
        <div class="row pl-3">
            <search-product v-if="!route" @product="chooseProductId"></search-product>
            <div class="col-md-9">
                <div class="progress add-product" style="height:40px">
                    <div class="progress-bar" role="progressbar" :style="{width:fileProgress+ '%'}">
                        {{fileCurrent}}
                    </div>
                </div>
                <div class="mt-3">
                    <h4 v-if="product.name" class="pt-2">Выберите несколько фото для товара <strong class="product-name">{{product.name}}</strong></h4>
                </div>
                <div class="mt-3 add-product">
                    <input v-if="product.id" type="file" name="image" multiple class="form-control" @change="fileInputChange">
                </div>
                <div v-if="!route" class="row">
                    <div class="col-md-6">
                        <h5>Файлы в очереди ({{filesOrder.length}})</h5>
                        <ul class="list-group">
                            <li class="list-group-item" v-for="(file, index) in filesOrder" :key="index">
                                {{file.name}}:{{file.type}}
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h5>Загруженные файлы ({{filesFinish.length}})</h5>
                        <ul class="list-group">
                            <li class="list-group-item" v-for="(file, index) in filesFinish" :key="index">
                                {{file.name}}:{{file.type}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- update place -->
        <div v-if="route" class="row pl-3">
            <div class="col-md-12 mt-3">
                <h4 class="pt-2">Измените или удалите фото товара <strong class="product-name">{{product.name}}</strong></h4>
            </div>
            <div v-for="(img,index) in filesOrder" :key="index" class="col-md-4 mt-4">
                <img id="p-img" :src="'img/products/' + img.img" alt="">
                <div class="d-flex justify-content-center">
                    <i id="remove-detail" @click="removeImage(img.id)" class="feather icon-trash-2 mr-3"></i>
                    <i id="remove-detail" @click="showModal(img.id)" class="feather icon-edit ml-4"></i>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex'
import Loading from 'vue-loading-overlay'
import 'vue-loading-overlay/dist/vue-loading.css'

export default {
    data(){
        return {
            product_arr:[],
            route:null,
            img:'',
            img_id:null,
            message:null,
            e:false,
            errors:[],
            modal:false,
            product:{id:null, name:null},
            isLoading:false,
            filesOrder:[],
            filesFinish:[],
            fileProgress:0,
            fileCurrent:'',
        }
    },
    components:{Loading},
    created(){
        if(Number(this.$route.params.id) > 0){
            this.route = Number(this.$route.params.id)
            this.id = Number(this.$route.params.id)
            this.getProduct(Number(this.$route.params.id))
        }
    },
    methods:{
        ...mapActions({
            product_image_create: 'crm/product_image_create',
            product_image_update: 'crm/product_image_update',
            product_image_destroy: 'crm/product_image_destroy',
            get_product:'crm/get_product',
        }),
        chooseProductId(id, name){
            this.product.id = id
            this.product.name = name
        },
        showModal(id){
            this.img_id = id
            this.modal = true
        },
        closeModal(){
            this.img_id = null
            this.img = ''
            this.modal = false
        },
        handleFileUpload(i){
            this.img = this.$refs.file.files[0]
        },
        updateImg(id){
            if(this.img){
                this.modal = false
                this.isLoading = true
                let row = new FormData()
                row.append('img', this.img)
                row.append('id', id)
                this.product_image_update({
                    context:this,
                    payload:row
                }).then(()=>{
                    this.img_id = null
                    this.img = ''
                    this.getProduct(this.product_arr.id)
                    this.isLoading = false
                    setTimeout(function () { 
                        this.message = null,
                        this.e = false
                    }.bind(this), 7000)
                })
            }
        },
        getProduct(id){
            this.isLoading = true
            this.get_product({
                context:this,
                payload:{product:id}
            }).then(()=>{
                this.isLoading = false
                this.filesOrder = this.product_arr.images
                this.product.id = this.product_arr.id
                this.product.name = this.product_arr.name
            })
        },
        removeImage(id){
            this.isLoading = true
            this.product_image_destroy({
                context:this,
                payload:{img:id}
            }).then(()=>{
                this.getProduct(this.product_arr.id)
                this.isLoading = false
                setTimeout(function () { 
                    this.message = null,
                    this.e = false
                }.bind(this), 7000)
            })
        },
        async fileInputChange(){
            let files = Array.from(event.target.files)
            this.filesOrder = files.slice()
            for(let item of files){
                await this.uploadFile(item)
            }
        },
        async uploadFile(item){
            let form = new FormData()
            form.append('image', item)
            form.append('product', this.product.id)
            await this.product_image_create({
                context:this,
                payload:form,
                item:item
            }).then(()=>{
                if(this.product_arr.id){
                    this.getProduct(this.product_arr.id)
                    this.filesFinish.splice(0, this.filesFinish.length)
                    setTimeout(function () { 
                        this.message = null,
                        this.e = false 
                    }.bind(this), 7000)
                }else{
                    this.timer()
                }
            })
        },
        timer(){
            setTimeout(function () { 
                this.message = null,
                this.e = false 
                this.filesFinish.splice(0, this.filesFinish.length)
                this.product.id = null
                this.product.name = null
            }.bind(this), 7000)
        },
    },
    watch:{
        '$route'(){
            if(!Number(this.$route.params.id)){
                this.route = null
                this.filesOrder.splice(0, this.filesOrder.length)
                this.product.id = null
                this.product_arr.id = null
                this.product.name = null
            }else{
                this.route = Number(this.$route.params.id)
                this.id = Number(this.$route.params.id)
                this.getProduct(Number(this.$route.params.id))
            }
        }
    },
}
</script>

<style lang="scss">
#p-img{
    width: 90%;
    height: 100%;
}
.d-flex{
    i{
        cursor: pointer;
    }
}
</style>