<template>
    <div class="col-md-12">
        <error-component :e="e" :message="message" :errors="errors" :alert="alert"></error-component>
        <loading :active.sync="isLoading"></loading>
        <div class="row pl-3">
            <search-product v-if="!product_arr.id" @product="chooseProductId"></search-product>
        </div>
        <h5 class="mt-3 pl-3">{{ !product_arr.id ? 'Добавьте':'Измените'}} детали для товара <strong class="product-name">{{product.name}}</strong> <p v-if="!product_arr.id">или выберите шаблон деталей для быстрого заполнения</p></h5>
        <div class="col-md-12 mt-3">
            <div class="row">
                <div class="col-md-6" v-if="!product_arr.id">
                    <h5 class="mb-3">Выбрать шаблон</h5>
                    <select id="select" class="form-control" v-model="template">
                        <option v-for="(tem, index) in templates" :key="index" :value="tem.id">{{tem.name}}</option>
                    </select>
                </div>
                <div style="padding-top:2.3rem" class="col-md-12 details-area d-flex">
                    <div class="key">
                        <input v-model="detail.k" type="text" class="form-control" placeholder="Введите название детали">
                    </div>
                    <div class="value">
                        <input v-model="detail.v" type="text" class="form-control" placeholder="Введите значение детали">
                    </div>
                    <div class="submit">
                        <button @click="addDetail()" class="btn btn-primary" type="button">Добавить</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="detailes" class="col-md-12 mt-4">
            <div v-for="(d, index) in detailes" :key="index" class="d-flex">
                <p class="detail-key">{{d.key}}</p>
                <input v-model="d.value" type="text" class="form-control">
                <i id="remove-detail" @click="removeDetail(index)" class="feather icon-trash-2"></i>
            </div>
        </div>
        <div class="col-md-3 mt-4">
            <button @click="product_arr.id ? update():save()" class="btn btn-square btn-success"><i class="feather icon-check"></i>Сохранить</button>
        </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex'
import Loading from 'vue-loading-overlay'
import 'vue-loading-overlay/dist/vue-loading.css'

export default {
    data(){
        return {
            product_arr:[],
            template:null,
            templates:[],
            detail:{k:null, v:null},
            detailes:[],
            product:{id:null, name:null},
            isLoading:false,
            message:null,
            e:null,
            errors:[],
            alert:null,
        }
    },
    components:{Loading},
    created(){
        if(Number(this.$route.params.id) > 0){
            this.id = Number(this.$route.params.id)
            this.getProduct(Number(this.$route.params.id))
        }else{
            this.getTemplates()
        }
    },
    methods:{
        ...mapActions({
            get_templates: 'crm/templates',
            get_detailes: 'crm/detailes',
            product_detail_create: 'crm/product_detail_create',
            product_detail_update: 'crm/product_detail_update',
            get_product:'crm/get_product',
        }),
        getTemplates(){
            this.get_templates({
                context:this
            })
        },
        addDetail(){
            if(this.detail.k && this.detail.v){
                let d = {key:this.detail.k, value:this.detail.v}
                this.detailes.push(d)
            }
        },
        removeDetail(index){
            this.detailes.splice(index, 1)
        },
        getDetailes(){
            this.isLoading = true
            this.get_detailes({
                context:this,
                payload:{template:this.template}
            }).then(()=>{
                this.isLoading = false
            })
        },
        getProduct(id){
            this.isLoading = true
            this.get_product({
                context:this,
                payload:{product:id}
            }).then(()=>{
                this.isLoading = false
                this.detailes = this.product_arr.detailes
                this.product.id = this.product_arr.id
                this.product.name = this.product_arr.name
            })
        },
        chooseProductId(id, name){
            this.product.id = id
            this.product.name = name
        },
        update(){
            this.isLoading = true
            this.product_detail_update({
                context:this,
                payload:{product:this.product.id, detailes:this.detailes}
            }).then(()=>{
                this.isLoading = false
                this.getProduct(Number(this.$route.params.id))
                this.timer()
            })
        },
        save(){
            if(this.product.id){
                if(this.detailes.length > 0){
                    this.isLoading = true
                    this.product_detail_create({
                        context:this,
                        payload:{product:this.product.id, detailes:this.detailes}
                    }).then(()=>{
                        this.isLoading = false
                        this.timer()
                    })
                }
            }else{
                this.alert = "Сначало выберите товар"
                this.timer()
            }
        },
        timer(){
            setTimeout(function () { this.message = null, this.e = false , this.alert = null}.bind(this), 7000)
        },
    },
    watch:{
        'template'(){
            this.getDetailes()
        },
        '$route'(){
            if(!Number(this.$route.params.id)){
                this.detailes.splice(0, this.detailes.length)
                this.detail.k = this.detail.v = null
                this.product_arr.id = null
                this.product.id = this.product.name = null
            }else{
                this.id = Number(this.$route.params.id)
                this.getProduct(Number(this.$route.params.id))
            }
        }
    },
}
</script>

<style lang="scss">
    .details-area{
        input{
            height: 3rem;
        }
        button{
            height: 3rem;
        }
    }
    .detail-key{
    width: 38%;
    padding-top: 1rem;
}
#remove-detail{
    font-size: 1.25em;
    padding-top: 2%;
    margin-left: 1rem;
}
#detailes{
    padding-right: 7rem;
}
.product-name{
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color:chocolate;
}
</style>