<template>
    <div class="col-md-12">
        <error-component :e="e" :message="message" :errors="errors" :alert="alert"></error-component>
        <loading :active.sync="isLoading"></loading>
        <div class="row pl-3">
            <search-product @product="chooseProductId"></search-product>
            <div class="col-md-12">
                <h5 v-if="product.id">Для того чтобы опубликовать товар <p class="product-name">{{product.name}}</p>
                нажмите на кнопку опубликовать</h5>
            </div>
            <div class="col-md-4 mt-4">
                <button @click="publish()" class="btn btn-square btn-success"><i class="feather icon-check"></i>Опубликовать</button>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex'
import Loading from 'vue-loading-overlay'
import 'vue-loading-overlay/dist/vue-loading.css'

export default {
    data(){
        return {
            message:null,
            e:false,
            errors:[],
            isLoading:false,
            product:{id:null,name:''},
            alert:null,
        }
    },
    components:{Loading},
    methods:{
        ...mapActions({
            publish_product: 'crm/publish_product'
        }),
        chooseProductId(id, name){
            this.product.id = id
            this.product.name = name
        },
        publish(){
            if(this.product.id){
                this.isLoading = true
                this.publish_product({
                    context:this,
                    payload:{product:this.product.id}
                }).then(()=>{
                    this.isLoading = false
                    this.timer()
                })
            }else{
                this.alert = "сначало найдите товар и выберите"
                this.timer()
            }
        },
        timer(){
            setTimeout(function () { 
                this.message = null,
                this.e = false
                this.alert = null
            }.bind(this), 7000)
        },
    },
}
</script>