<template>
    <div class="row pl-3">
        <loading :active.sync="isLoading"></loading>
        <div class="col-md-12 add-product">
            <h5>Сначало найдите товар и выберите его.</h5>
            <input v-model="search" class="form-control" type="text">
        </div>
        <div class="col-md-9 mt-4">
            <ul class="list-group list">
                <li v-if="search && (products.length == 0)">
                    <div  class="d-flex">
                        <p class="mr-3 text-c-red">Товар не найден</p>
                    </div>
                </li>
                <li class="list-group-item" v-for="(p, index) in products" :key="index">
                    <div @click="chooseProductId(p.id, p.name, p.published)" class="d-flex">
                        <p class="mr-3">{{p.name}}</p>Из категории: <p class="mr-3">{{p.category}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex'
import Loading from 'vue-loading-overlay'
import 'vue-loading-overlay/dist/vue-loading.css'

export default {
    data(){
        return {
            isLoading:false,
            search:null,
            products:[],
            product:{id:null, name:null, published:null},
        }
    },
    components:{Loading},
    methods:{
        ...mapActions({
            search_product: 'crm/search_product'
        }),
        searchProduct(){
            this.isLoading = true
            this.search_product({
                context:this,
                payload:{name:this.search}
            }).then(()=>{
                this.isLoading = false
            })
        },
        chooseProductId(id, name, published){
            this.product.id = id
            this.product.name = name
            this.product.published = published
            this.$emit('product', this.product.id, this.product.name, this.product.published)
            this.search = null
            this.products.splice(0, this.products.length)
        },
    },
    watch:{
        'search'(){
            this.searchProduct()
        }
    },
}
</script>