<template>
    <div>
        <!-- Mainmenu-area-Start -->
        <div class="mainmenu-area transparent"  data-spy="affix" data-offset-top="197">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 row-flex">
                        <div class="site-brand solid">
                            <router-link class="logo" :to="{name:'home'}">Ecoman</router-link>
                        </div>
                        <div class="mainmenu">
                            <ul class="nav" v-if="!user.authenticated">
                                <li><router-link class="nav-link" :to="{name:'login'}">Вход</router-link></li>
                                <!-- <li><router-link class="nav-link" :to="{name:'register'}">Регистрация</router-link></li> -->
                            </ul>
                            <ul class="nav" v-if="user.authenticated">
                                <li class="nav-item dropdown">
                                    <a href="#" @click.prevent="signout">Выход</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mainmenu-Area-End -->
    </div>
</template>


<script>
    import { mapGetters, mapActions } from 'vuex'

    export default {
        computed: mapGetters({
            user: 'auth/user'
        }),
        methods: {
            ...mapActions({
                logout: 'auth/logout'
            }),
            signout () {
                this.logout().then(() => {
                    this.$router.replace({ name: 'home' })
                })
            }
        }
    }    
</script>