<template>
    <div v-if="product_arr.id" class="btn-group mb-2 mr-2 pl-3">
        <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Изменить данные товара</button>
        <div class="dropdown-menu">
            <router-link class="dropdown-item" :to="{name: 'general_option_update', params:{id:product_arr.id}}">
                <span class="pcoded-mtext">Изменить название и главные опции</span>
            </router-link>
            <router-link class="dropdown-item" :to="{name: 'product_detail_update', params:{id:product_arr.id}}">
                <span class="pcoded-mtext">Изменить характеристики товара</span>
            </router-link>
            <router-link class="dropdown-item" :to="{name: 'product_images_update', params:{id:product_arr.id}}">
                <span class="pcoded-mtext">Изменить картинки товара</span>
            </router-link>
            <router-link class="dropdown-item" :to="{name: 'product_options_update', params:{id:product_arr.id}}">
                <span class="pcoded-mtext">Изменить опции товара</span>
            </router-link>
        </div>
    </div>
</template>

<script>

export default {
    props:['product_arr'],
}
</script>