<template>
    <!-- [ Header ] start -->
    <header class="navbar pcoded-header navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li>
                    <a href="javascript:" class="full-screen" onclick="javascript:toggleFullScreen()">
                        <i class="feather icon-maximize"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li>
                    <div class="dropdown drp-user">
                        <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon feather icon-settings"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-notification">
                            <!-- <div class="pro-head">
                                <span>{{user.data.name}}</span>
                                <a href="#" class="dud-logout" title="Logout">
                                    <i class="feather icon-log-out" @click.prevent="signout"></i>
                                </a>
                            </div> -->
                            <ul class="pro-body">
                                <li><a class="dropdown-item"><i class="feather icon-user"></i> Профиль</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <!-- [ Header ] end -->
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
    data(){
        return{
            user:null,
        }
    },
    methods:{
        ...mapGetters({
            getUser: 'auth/user'
        }),
        ...mapActions({
            logout: 'auth/logout'
        }),
        signout () {
            this.logout().then(() => {
                this.$router.replace({ name: 'login' })
            })
        }
    },
    mounted(){
        this.user = this.getUser()
    }
}
</script>