<template>
    <div>
        <crm-navbar></crm-navbar>
        <crm-header></crm-header>
        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">
                                <div class="row">
                                    <!-- [ Main Content ] start -->
                                    <router-view name="crm"></router-view>
                                    <router-view name="main"></router-view>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import CrmNavbar from './CrmNavbar'
import CrmHeader from './CrmHeader'
import { mapActions } from 'vuex'

    export default {
        data () {
            return {
                index: null,
                message:null,
            }
        },
        methods:{
            // ...mapActions({
            //     crm: 'crm/home'
            // }),
            // home(){

            // }
        },
        components:{
            CrmNavbar, CrmHeader
        }
    }
</script>