<template>
        <!-- [ navigation menu ] start -->
        <nav class="pcoded-navbar">
            <div class="navbar-wrapper">
                <div class="navbar-brand header-logo">
                    <a href="#" class="b-brand">
                        <div class="b-bg">
                            <i class="feather icon-trending-up"></i>
                        </div>
                        <span class="b-title"><router-link :to="{name:'crm_home'}">Dashboard</router-link></span>
                    </a>
                </div>
                <div class="navbar-content scroll-div">
                    <ul class="nav pcoded-inner-navbar">
                        <li>
                            <router-link :to="{name: 'home'}">
                                <span class="pcoded-micon">
                                    <i class="feather icon-home"></i>
                                </span>
                                <span class="pcoded-mtext">Главная</span>
                            </router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'categories'}">
                                <span class="pcoded-micon">
                                    <i class="feather icon-aperture"></i>
                                </span>
                                <span class="pcoded-mtext">Категория</span>
                            </router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'sub_categories'}">
                                <span class="pcoded-micon">
                                    <i class="feather icon-file-text"></i>
                                </span>
                                <span class="pcoded-mtext">Подкатегория</span>
                            </router-link>
                        </li>
                        <li class="nav-item pcoded-hasmenu">
                            <a href="javascript:" class="nav-link ">
                                <span class="pcoded-micon">
                                    <i class="feather icon-package"></i>
                                </span>
                                <span class="pcoded-mtext">Товар</span>
                            </a>
                            <ul class="pcoded-submenu">
                                <li>
                                    <router-link :to="{name: 'all_products'}">
                                        <span class="pcoded-mtext">Все товары</span>
                                    </router-link>
                                </li>
                                <li>
                                    <router-link :to="{name: 'add_product'}">
                                        <span class="pcoded-mtext">Добавить товар</span>
                                    </router-link>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item pcoded-hasmenu">
                            <a href="javascript:" class="nav-link">
                                <span class="pcoded-micon">
                                    <i class="feather icon-book"></i>
                                </span>
                                <span class="pcoded-mtext">Шаблоны деталей</span>
                            </a>
                            <ul class="pcoded-submenu">
                                <li class="">
                                    <router-link :to="{name: 'detail_templete'}">
                                        <span class="pcoded-mtext">Добавить шаблон</span>
                                    </router-link>
                                </li>
                                <li>
                                    <router-link :to="{name: 'product_detail_templete'}">
                                        <span class="pcoded-mtext">Добавить к шаблону детали</span>
                                    </router-link>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item pcoded-hasmenu">
                            <a href="javascript:" class="nav-link">
                                <span class="pcoded-micon">
                                    <i class="feather icon-layout"></i>
                                </span>
                                <span class="pcoded-mtext">Главная страница</span>
                            </a>
                            <ul class="pcoded-submenu">
                                <li class="">
                                    <router-link :to="{name: 'slider'}">
                                        <span class="pcoded-mtext">Слайдер</span>
                                    </router-link>
                                </li>
                                <li>
                                    <router-link :to="{name: 'positions'}">
                                        <span class="pcoded-mtext">Позиции товаров</span>
                                    </router-link>
                                </li>
                                <li>
                                    <router-link :to="{name: 'banners'}">
                                        <span class="pcoded-mtext">Баннеры</span>
                                    </router-link>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- [ navigation menu ] end -->
</template>