<template>
    <!--[ Recent Users ] start-->
    <div class="col-xl-12 col-md-12">
        <loading :active.sync="isLoading"></loading>
        <error-component :e="e" :message="message" :errors="errors"></error-component>
        <div v-if="modal" class="modal" id="open-modal">
            <div class="modal-container">
                <p>Безвозвратное удаление! Пожалуйста подтвердите действие</p>
                <a @click="destroy(cat_id)" class="col-md-12 label bg-danger text-white f-12">Удалить</a>
                <a @click="closeModal()" class="label theme-bg text-white f-12">Отменить</a>
            </div>
        </div>
        <p v-if="category.id">Включен режим изменения, для того чтобы отменить нажмите сюда
                <button @click="cancel()" class="btn btn-success">Отменить</button>
            </p>
        <div class="input-group add-category">
            <input v-model="category.name" type="text" class="form-control" placeholder="Введите название категории">
            <div class="input-group-append">
                <button @click="save()" :class="{'btn-warning':category.id, 'btn-primary':!category.id}" class="btn" type="button">{{category.id ? "Изменить": "Создать"}}</button>
            </div>
        </div>
        <div class="card Recent-Users">
            <div class="card-header">
                <h5><button @click="submit()" class="btn btn-primary">Показать все категории</button></h5>
            </div>
            <div class="card-block px-0 py-3">
                <div class="table-responsive">
                    <table class="table table-wrapper">
                        <thead>
                            <tr>
                            <th scope="col">Номер</th>
                            <th scope="col">Название категории</th>
                            <th scope="col">Действие</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in items" :key="index" class="unread">
                                <td>{{index+1}}</td>
                                <td>
                                    <h6 class="mb-1">{{item.name}}</h6>
                                </td>
                                <td>
                                    <a @click="showModal(item.id)" class="col-md-12 label bg-danger text-white f-12">Удалить</a>
                                    <a @click="update(item.id, item.name)" class="label theme-bg text-white f-12">Изменить</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--[ Recent Users ] end-->
</template>




<script>
    import { mapActions } from 'vuex'
    import Loading from 'vue-loading-overlay'
    import 'vue-loading-overlay/dist/vue-loading.css'

    export default {
        data () {
            return {
                category:{name:null, id:null},
                items: [],
                errors: [],
                isLoading: false,
                message: null,
                modal:false,
                cat_id: null,
                e:false
            }
        },
        components: {Loading},
        created(){this.submit()},
        methods: {
            ...mapActions({
                get_categories: 'crm/categories',
                destroy_category: 'crm/destroy_category',
                create_category: 'crm/create_category',
                update_category: 'crm/update_category',
            }),
            submit () {
                this.isLoading = true;
                this.get_categories({
                    context: this
                }).then(() => {
                    this.isLoading = false;
                })
            },
            showModal(id){
                this.modal = true
                this.cat_id = id
            },
            closeModal(){
                this.modal = false
                this.cat_id = null
            },
            destroy(id){
                this.modal = false
                this.isLoading = true;
                this.destroy_category({
                    context: this,
                    payload:{id:id}
                }).then(() => {
                    this.isLoading = false;
                    this.submit()
                    setTimeout(function () { this.message = null }.bind(this), 9000)
                })
            },
            update(id, name){
                this.category.name = name
                this.category.id = id
            },
            save(){
                if(this.category.id){
                    this.update_category({
                        context: this,
                        payload: {name: this.category.name, id: this.category.id}
                    }).then(() => {
                        this.timer()
                        this.submit()
                        this.isLoading = false;
                        this.category.name = null
                        this.category.id = null
                    })
                }else{
                    this.create_category({
                        context: this,
                        payload: {name: this.category.name}
                    }).then(() => {
                        this.timer()
                        this.submit()
                        this.category.name = null
                        this.isLoading = false;
                    })
                }
            },
            cancel(){
                this.category.id = null
                this.category.name = null
            },
            timer(){
                setTimeout(function () { this.message = null, this.e = false }.bind(this), 7000)
            },
        }
    }
</script>


<style lang="scss" scoped>
a{
    cursor: pointer;
}
p {
    margin-top: 0px;
}
 
.modal-container {
    position: fixed;
    background-color: #fff;
    border: 1px solid #000;
    width: 40%;
    left: 50%;
    padding: 20px;
    border-radius: 5px;
    top: 20%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.modal-container p{
    font-size: 25px;
}
.modal-container a{
    font-size: 16px;
    border-radius: 9px;
}
.modal {
    position: fixed;
    display: block;
    background-color: rgba(0,0,0,.8);
    top: 0;
    left: 0;
    height: 100%;
    width: 100% 
}
.add-category{
    margin-bottom: 3rem;
    input{
        height: 3rem;
    }
}
</style>