<template>
    <div style="width:100%" class="row">
        <!--[ daily sales section ] start-->
        <div class="col-md-6 col-xl-4">
            <div class="card daily-sales">
                <div class="card-block">
                    <h6 class="mb-4">Daily Sales</h6>
                    <div class="row d-flex align-items-center">
                        <div class="col-9">
                            <h3 class="f-w-300 d-flex align-items-center m-b-0"><i class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>$ 249.95</h3>
                        </div>

                        <div class="col-3 text-right">
                            <p class="m-b-0">67%</p>
                        </div>
                    </div>
                    <div class="progress m-t-30" style="height: 7px;">
                        <div class="progress-bar progress-c-theme" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--[ daily sales section ] end-->
        <!--[ Monthly  sales section ] starts-->
        <div class="col-md-6 col-xl-4">
            <div class="card Monthly-sales">
                <div class="card-block">
                    <h6 class="mb-4">Monthly Sales</h6>
                    <div class="row d-flex align-items-center">
                        <div class="col-9">
                            <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i class="feather icon-arrow-down text-c-red f-30 m-r-10"></i>$ 2.942.32</h3>
                        </div>
                        <div class="col-3 text-right">
                            <p class="m-b-0">36%</p>
                        </div>
                    </div>
                    <div class="progress m-t-30" style="height: 7px;">
                        <div class="progress-bar progress-c-theme2" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--[ Monthly  sales section ] end-->
        <!--[ year  sales section ] starts-->
        <div class="col-md-12 col-xl-4">
            <div class="card yearly-sales">
                <div class="card-block">
                    <h6 class="mb-4">Yearly Sales</h6>
                    <div class="row d-flex align-items-center">
                        <div class="col-9">
                            <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>$ 8.638.32</h3>
                        </div>
                        <div class="col-3 text-right">
                            <p class="m-b-0">80%</p>
                        </div>
                    </div>
                    <div class="progress m-t-30" style="height: 7px;">
                        <div class="progress-bar progress-c-theme" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--[ year  sales section ] end-->
    </div>
</template>




<script>
    import { mapActions } from 'vuex'
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';

    export default {
        data () {
            return {
                rooms: [],
                errors: [],
                isLoading: false,
                message: null,
                modal:false,
                room_id: null,
            }
        },
        components: {Loading},
        methods: {
            ...mapActions({
                get_rooms: 'crm/rooms',
                destroy_room: 'crm/destroy_room',
            }),
            submit () {
                this.isLoading = true;
                this.get_rooms({
                    context: this
                }).then(() => {
                    this.isLoading = false;
                })
            },
            showModal(id){
                this.modal = true
                this.room_id = id
            },
            closeModal(){
                this.modal = false
                this.room_id = null
            },
            destroy(id){
                this.modal = false
                this.isLoading = true;
                this.destroy_room({
                    context: this,
                    payload:{id:id}
                }).then(() => {
                    this.isLoading = false;
                    this.submit()
                    setTimeout(function () { this.message = null }.bind(this), 9000)
                })
            }
        }
    }
</script>


<style lang="scss" scoped>
a{
    cursor: pointer;
}
p {
    margin-top: 0px;
}
 
.modal-container {
    position: fixed;
    background-color: #fff;
    border: 1px solid #000;
    width: 40%;
    left: 50%;
    padding: 20px;
    border-radius: 5px;
    top: 20%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.modal-container p{
    font-size: 25px;
}
.modal-container a{
    font-size: 16px;
    border-radius: 9px;
}
.modal {
    position: fixed;
    display: block;
    background-color: rgba(0,0,0,.8);
    top: 0;
    left: 0;
    height: 100%;
    width: 100% 
}
</style>