<template>
    <div class="row">
        <div class="col-md-12">
            <line-chart v-if="load" :chart-data="chart_data" :height="500" :width="950" :options="{responsive:true, maintainAspectRation:true}"></line-chart>
        </div>
    </div>
</template>


<script>
import LineChart from './LineChart.js'

export default {
    data(){
        return{
            chart_data: [],
            load: false,
        }
    },
    created() {
        this.showStatistics()
    },
    components:{
        LineChart
    },
    methods:{
        showStatistics(){
            window.axios.get('/api/show-statistics/new-orders').then((response) => {
                this.chart_data = response.data
                this.load = true
            })
        }
    }
}
</script>