<template>
    <!--[ Recent Users ] start-->
    <div class="col-xl-12 col-md-12">
        <div v-if="message" class="alert alert-success" role="alert">
            {{message}}
        </div>
        <div v-if="e" class="alert alert-danger" role="alert">
            <ul>
                <li v-for="(error, index) in errors" :key="index">{{error}}</li>
            </ul>
        </div>
        <div v-if="modal" class="modal" id="open-modal">
            <div class="modal-container">
                <p>Безвозвратное удаление! Пожалуйста подтвердите действие</p>
                <a @click="destroy(sub_cat_id)" class="col-md-12 label bg-danger text-white f-12">Удалить</a>
                <a @click="closeModal()" class="label theme-bg text-white f-12">Отменить</a>
            </div>
        </div>
        <div class="row pl-3 mb-4">
            <div style="padding:0" class="col-md-4">
                <h5 class="mb-3">Выберите категорию</h5>
                <select class="form-control" v-model="category">
                    <option v-for="(item, index) in items" :key="index" :value="item.id">{{item.name}}</option>
                </select>
            </div>
        <div class="col-md-8" v-if="sub_category.id">
            <p>Включен режим изменения, для того чтобы отменить нажмите сюда</p>
            <button @click="cancel()" class="btn btn-success">Отменить</button>
        </div>
        </div>
        <div class="input-group add-category">
            <input v-model="sub_category.name" type="text" class="form-control" placeholder="Введите название подкатегории">
            <div class="input-group-append">
                <button @click="save()" :class="{'btn-warning':sub_category.id, 'btn-primary':!sub_category.id}" class="btn" type="button">{{sub_category.id ? "Изменить": "Создать"}}</button>
            </div>
        </div>
        <div class="card Recent-Users">
            <div class="card-header">
                <h5><button @click="submit()" class="btn btn-primary">Показать все подкатегории</button></h5>
                <loading :active.sync="isLoading"></loading>
            </div>
            <div class="card-block px-0 py-3">
                <div class="table-responsive">
                    <table class="table table-wrapper">
                        <thead>
                            <tr>
                            <th scope="col">Номер</th>
                            <th scope="col">Название подкатегории</th>
                            <th scope="col">Действие</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(sub, index) in sub_categories" :key="index" class="unread">
                                <td>{{index+1}}</td>
                                <td>
                                    <h6 class="mb-1">{{sub.name}}</h6>
                                </td>
                                <td>
                                    <a @click="showModal(sub.id)" class="col-md-12 label bg-danger text-white f-12">Удалить</a>
                                    <a @click="update(sub.id, sub.name)" class="label theme-bg text-white f-12">Изменить</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--[ Recent Users ] end-->
</template>




<script>
    import { mapActions } from 'vuex'
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';

    export default {
        data () {
            return {
                sub_category:{name:null, id:null},
                sub_categories:[],
                items: [],
                errors: [],
                isLoading: false,
                message: null,
                modal:false,
                sub_cat_id: null,
                e:false,
                category:null,
            }
        },
        components: {Loading},
        methods: {
            ...mapActions({
                get_sub_categories: 'crm/sub_categories',
                get_categories: 'crm/categories',
                destroy_sub_category: 'crm/destroy_sub_category',
                create_sub_category: 'crm/create_sub_category',
                update_sub_category: 'crm/update_sub_category',
            }),
            getCategories(){
                this.get_categories({
                    context:this
                })
            },
            submit () {
                this.isLoading = true;
                this.get_sub_categories({
                    context: this,
                    payload:{cat:this.category}
                }).then(() => {
                    this.isLoading = false
                })
            },
            showModal(id){
                this.modal = true
                this.sub_cat_id = id
            },
            closeModal(){
                this.modal = false
                this.sub_cat_id = null
            },
            destroy(id){
                this.modal = false
                this.isLoading = true;
                this.destroy_sub_category({
                    context: this,
                    payload:{id:id}
                }).then(() => {
                    this.isLoading = false;
                    this.submit()
                    setTimeout(function () { this.message = null }.bind(this), 9000)
                })
            },
            update(id, name){
                this.sub_category.name = name
                this.sub_category.id = id
            },
            save(){
                //console.log(this.category, this.sub_category)
                if(this.sub_category.id){
                    this.update_sub_category({
                        context: this,
                        payload: {name: this.sub_category.name, id: this.sub_category.id, cat:this.category}
                    }).then(() => {
                        this.timer()
                        this.submit()
                        this.isLoading = false;
                        this.sub_category.name = null
                        this.sub_category.id = null
                    })
                }else{
                    if(this.category){
                        this.create_sub_category({
                            context: this,
                            payload: {name: this.sub_category.name, cat:this.category}
                        }).then(() => {
                            this.timer()
                            this.submit()
                            this.sub_category.name = null
                            this.isLoading = false;
                        })
                    }
                }
            },
            cancel(){
                this.sub_category.id = null
                this.sub_category.name = null
                this.category = null
            },
            timer(){
                setTimeout(function () { this.message = null, this.e = false }.bind(this), 7000)
            },
        },
        created(){
            this.getCategories()
        },
        watch:{
            'category'(){
                this.submit()
            }
        }
    }
</script>


<style lang="scss" scoped>
a{
    cursor: pointer;
}
p {
    margin-top: 0px;
}
 
.modal-container {
    position: fixed;
    background-color: #fff;
    border: 1px solid #000;
    width: 40%;
    left: 50%;
    padding: 20px;
    border-radius: 5px;
    top: 20%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.modal-container p{
    font-size: 25px;
}
.modal-container a{
    font-size: 16px;
    border-radius: 9px;
}
.modal {
    position: fixed;
    display: block;
    background-color: rgba(0,0,0,.8);
    top: 0;
    left: 0;
    height: 100%;
    width: 100% 
}
.add-category{
    margin-bottom: 3rem;
    input{
        height: 3rem;
    }
}
</style>