<<template>
    <header>
        <menu-component></menu-component>
        <div v-for="(slider,index) in sliders" v-if="slider.id == slide_index" class="row slider mt-4">
            <div class="col-md-7 slider-text">
                <div class="first-text">
                    <span>
                        {{slider.first_text}}<br> {{slider.second_text}}
                    </span>
                </div>
                <div class="d-flex category mt-4">
                    <p>for men</p>
                    <p>for women</p>
                    <p>category</p>
                </div>
            </div>

            <div class="col-md-5">
                <div class="circle">
                    <img class="wow pulse" data-wow-duration="3s" :src="'http://127.0.0.1:8181/img/sliders/' + slider.img" alt="">
                </div>
            </div>
        </div>
    </header>
</template>

<script>
export default {
    data(){
        return {
            sliders:[],
            errors:[],
            e:false,
            slide_index:9,
        }
    },
    created(){
        this.getSliders()
    },
    methods:{
        getSliders(){
            axios.get(`/home-page/slider`).then((response)=>{
                this.sliders = response.data
            }).catch((error) => {
                this.e = true
                this.errors = error.response.data.errors
            })
        },
    }
}
</script>