<template>
    <section>
        <div class="row new-collection">
            <div class="col-md-12">
                <h2>Best from new collection</h2>
            </div>
            <div v-for="(product, index) in products" :key="index" class="col-md-4 item wow zoomIn" data-wow-duration="2s">
                <div class="items">
                    <img :src="'http://127.0.0.1:8181/img/products/' + product.img1" alt="">
                </div>
                <div class="item-bottom pt-3 wow rollIn">
                    <h6 class="mr-5">{{product.name}}</h6>
                    <p>${{product.price}}</p>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    data(){
        return {
            products:[],
        }
    },
    created(){
        this.getProducts()
    },
    methods:{
        getProducts(){
            axios.get(`/home-page/products`).then((response)=>{
                this.products = response.data
            }).catch((error) => {
                this.e = true
                this.errors = error.response.data.errors
            })
        },
    }
}
</script>