<template>
    <div class="container">
        <header-component></header-component>
        <home-page-products></home-page-products>
        <section>
            <div class="row">
                <div class="col-md-6 subscribe-img">
                    <img src="img/subs.png" alt="">
                </div>
                <div class="col-md-6 subscribe">
                    <h1 class="mb-4">Sneacers theme <br> Coming Soon</h1>
                    <div class="d-flex">
                        <input type="text" style="border-radius: 0;" class="form-control" placeholder="Your E-mail">
                        <div class="input-group-append">
                            <button class="subscribe-button">subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="row d-flex justify-content-center">
                <div class="col-md-9 instagram-section">
                    <h2>Last from Instagram</h2>
                    <div class="row instagram-section-images">
                        <div class="col-md-4 wow rollIn" data-wow-duration="3s">
                            <div class="ins-img">
                                <img src="img/ins1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-4 wow rollIn" data-wow-duration="3s">
                            <div class="ins-img">
                                <img src="img/ins2.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-4 wow rollIn" data-wow-duration="3s">
                            <div class="ins-img">
                                <img src="img/ins3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <home-page-banners></home-page-banners>
        <section>
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-6 wow fadeInLeft" data-wow-duration="2s">
                            <div class="about-text">
                                <p>about</p>
                                <h1>G-shop Brand<br>Shop Theme</h1>
                                <p>Lorem ipsum dolor sit amet consectetur<br> adipisicing elit. Accusantium.</p>
                            </div>
                        </div>
                        <div class="col-md-6 wow fadeInRight" data-wow-duration="2s">
                            <div class="about-img d-flex">
                                <div class="first-about d-flex justify-content-end">
                                    <img src="img/team-2.png" alt="">
                                </div>
                                <div class="second-about d-flex justify-content-end">
                                    <img src="img/team-3.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <section>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8">
                        <div class="row footer">
                            <div class="col-6 col-md-3">
                                <h4>G-SHOP</h4>
                                <p>&copy;copyright 2019</p>
                            </div>
                            <div class="col-md-3 f">
                                <h5>Home Pages</h5>
                                <ul class="list-unstyled footer-firs-list">
                                    <li><a href="#">home pages</a></li>
                                    <li><a href="#">home pages</a></li>
                                    <li><a href="#">home pages</a></li>
                                    <li><a href="#">home pages</a></li>
                                    <li><a href="#">home pages</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3 s">
                                <h5>About</h5>
                                <ul class="list-unstyled footer-firs-list">
                                    <li><a href="#">about company</a></li>
                                    <li><a href="#">about company</a></li>
                                    <li><a href="#">about company</a></li>
                                    <li><a href="#">about company</a></li>
                                    <li><a href="#">about company</a></li>
                                </ul>
                            </div>
                            <div class="col-6 col-md-3">
                                <h5>Other</h5>
                                <ul class="list-unstyled footer-firs-list">
                                    <li><a href="#">shoping-cart</a></li>
                                    <li><a href="#">my accaunt</a></li>
                                    <li><a href="#">news</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </footer>
    </div>
</template>

<script>
    export default {
        
    }
</script>
