<template>
    <section>
        <div class="row">
            <div v-for="(banner, index) in banners" :key="index" class="col-md-6 banners">
                <div class="first d-flex">
                    <div>
                        <img :src="'http://127.0.0.1:8181/img/banners/' + banner.img" alt="">
                    </div>
                    <div class="banner-text pr-4">
                        <h1>{{banner.first_text}}</h1>
                        <p>{{banner.second_text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    data(){
        return {
            banners:[],
        }
    },
    created(){
        this.getBanners()
    },
    methods:{
        getBanners(){
            axios.get(`/home-page/banners`).then((response)=>{
                this.banners = response.data
            }).catch((error) => {
                this.e = true
                this.errors = error.response.data.errors
            })
        },
    }
}
</script>