<template>
    <div class="row d-flex">
        <div id="no-padding" class="col-6 col-md-4 wow fadeInLeft d-flex justify-content-start" data-wow-duration="2s">
            <nav class="">
                <a class="d-flex hamburger">
                    <i style="font-size: 1.5rem;" id="bars" class="fa fa-bars"></i>
                    <p class="ml-2">MENU</p>
                </a>
                <!-- menu items -->
                <div class="nav-links">
                    <ul class="menu-ul list-unstyled">
                        <li v-for="(cat, index) in category" :key="index">
                            <a href="#">{{cat.name}}</a>
                            <ul class="sub-category list-unstyled">
                                <li>fashion</li>
                                <li>dress</li>
                                <li>shoes</li>
                                <li>rollex</li>
                                <li>oten</li>
                            </ul>
                        </li>
                    </ul> 
                    
                </div>
            </nav>
        </div>
        <div id="logo" class="col-md-4 wow fadeInDown" data-wow-duration="2s">
            <img src="img/logo.png" alt="">
        </div>
        <div id="no-padding" class="col-6 col-md-4 cart-click wow fadeInRight d-flex justify-content-end" data-wow-duration="2s">
            <p class="cart">cart</p>
            <i style="font-size: 1.5rem;" class="fa fa-shopping-cart ml-2"></i>
            <div class="cart-list">

            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            category:[]
        }
    },
    methods: {
        getCategory(){
            axios.get('menu/category').then((response)=>{
                this.category = response.data
            })
        }
    },
    created(){
        this.getCategory()
    }
}
</script>